<p class="super-right"><i class="icon-download"></i> <a href="#">Markdown</a> <a href="#">PDF</a></p><br /> 
<h5> EDUCATION:</h5>
<ul><li> Interactive/Media/Design (2009 - 2012)</li>
</ul><p><em>Royal Academy of Art (KABK), The Hague, Netherlands</em></p>

<ul><li> B.Sc. Mechanical Engineering (2004 - 2008)</li>
</ul><p><em>University of Alberta, Edmonton, Canada</em></p>

<ul><li> International Summer School: On the cutting edge of sustainable energy (2007) </li>
</ul><p><em>Technical University of Freiberg, Germany</em></p>

<h5> MOBILE &amp; WEB DESIGN/DEVELOPMENT:</h5>

<ul><li> iOS App for What’s Your News TV Show (Currently in Progress)</li>
</ul><p><em>What’s Your News?</em></p>

<ul><li> Web based project management and invoicing app (Currently in Progress)</li>
</ul><p><em>Queue Media</em></p>

<ul><li> Greentrikes.nl website design and development (2012)</li>
</ul><p><em>Ecotrike-BG</em></p>

<ul><li> 'Now In 3D' project website (2012)</li>
</ul><p><em>Now in 3D.org</em></p>

<ul><li> 'unCloud' identity design and application development assistance (2011)</li>
</ul><p><em>INTK (http://www.intk.com/uncloud)</em></p>

<ul><li> 'What's In a Motor' project website (2011)</li>
</ul><p><em>Self Initiated</em></p>

<ul><li> Dorian Pitch iPhone App (2011)</li>
</ul><p><em>Menno van den Berg</em></p>

<ul><li> HTML toys for portfolio website (2011)</li>
</ul><p><em>Vincent Kranendonk</em></p>

<ul><li> Backend development for I-Arise.com (2011)</li>
</ul><p><em>I-Arise</em></p>

<ul><li> Flash Banners and various website elements (2011)</li>
</ul><p><em>Queue Media working indirectly for New Balance</em></p>

<ul><li> F#KX Wordpress and Tumblr Theme package (2011)</li>
</ul><p><em>Self Initiated</em></p>


<h5> INSTALLATION:</h5>

<ul><li> Tethered Motion  (2011- Currently in Progress)</li>
</ul><p><em>Nuit Blanche Toronto (To be presented at the 2012 edition)</em></p>

<ul><li> New Balance Multitouch Table Application  (2012)</li>
</ul><p><em>Queue Media and New Balance</em></p>

<ul><li> Centrifugal Force (2011)</li>
</ul><p>'Gravenhacker</p>

<ul><li> Invisible Forces (2011)</li>
</ul><p><em>In collaboration with Menno van den Berg</em></p>

<ul><li> Interaction designer/technical consultant for the ‘We Feel U’ dance performance  (2011)</li>
</ul><p><em>WildLife Collective (Dutch Artist Collective)</em></p>

<ul><li> Interaction designer/technical realization for a kinetic sculpture (2011)</li>
</ul><p><em>Victor Zwiers</em> </p>

<ul><li> The OVNA Project (2011)</li>
</ul><p><em>Dutch Royal Academy of Art Open Day Exhibition</em></p>

<ul><li> Programming/conceptualization for Attracted (2010)</li>
</ul><p><em>In collaboration with Mark Ridder for PICNIC event in Amsterdam</em></p>

<ul><li> Ergonomics Designer for Formula SAE race car (2005)</li>
</ul><p><em>University of Alberta, Edmonton, Canada</em></p>



<h5> GRAPHIC DESIGN:</h5>

<ul><li> Cover Art for FM Belfast’s album titled ‘Underwear’ (2011)</li>
</ul><p><em>FM Belfast</em></p>

<ul><li> T-shirt design for 2BOP (2010)</li>
</ul><p><em>2BOP (South Africa based clothing company)</em></p>

<ul><li> Console Font (2010)</li>
</ul><p><em>Designed the font (freeware) and a t-shirt for Teefury</em></p>



<h5> VIDEO/MOTION GRAPHICS:</h5>

<ul><li> Animated Menu Boards (2011 - present)</li>
</ul><p><em>Queue Media working indirectly for KFC</em></p>

<ul><li> Web Commercials (2010)</li>
</ul><p><em>Firefox (Student Project)</em></p>

<ul><li> Chaos Theory (2010)</li>
</ul><p><em>Self Initiated</em></p>


<h5> ENGINEERING EXPERIENCE:</h5>

<ul><li> Design Engineer (2009)</li>
</ul><p><em>Horton CB&amp;I, NOTL, Canada office</em></p>

<ul><li> Field Engineer (2008 - 2009)</li>
</ul><p><em>Horton CB&amp;I, SUNCOR Firebag project and Shell Albian Sands project, Canada</em></p>

<ul><li> Design Engineer (Graduation Project) (2008)</li>
</ul><p><em>CCI Thermal Technologies, Edmonton, Canada</em></p>

<ul><li> Engineering Internship (2006)</li>
</ul><p><em>Hero Honda Motorcycle’s production plant, Daruhera, India</em></p>

<ul><li> Teaching Assistant (2006)</li>
</ul><p><em>MATH 116 course at University of Alberta</em></p>


<h5> AWARDS AND MEDIA:</h5>

<ul><li> Nuit Blanche Open Call Project Grant</li>
</ul><p><em>Toronto City Council</em></p>

<ul><li> Chaos Theory featured on studentshow.com and Motion Served</li>
</ul><p><em>Behance Network</em></p>

<ul><li> Typography work featured in Digital Artist magazine (2010)</li>
</ul><p><em>Digital Artist, Issue 12</em></p>

<ul><li> Console font featured on several major technology and design blogs such as:</li>
</ul><p><em>Gizmodo, Engadget, Kotaku, Public School, Typography Served, etc. (2010-2012)</em></p>

<ul><li> Energy Studies Award (2007)</li>
</ul><p><em>University of Alberta, Edmonton, Canada</em></p>

<ul><li> First class standing in academic year (2004 - 2006)</li>
</ul><p><em>University of Alberta, Edmonton, Canada</em></p>

<ul><li> Talisman Engineering Scholarship (2005)</li>
</ul><p><em>University of Alberta, Edmonton, Canada</em></p>

<ul><li> Dean’s list for the academic year (2004-2005)</li>
</ul><p><em>University of Alberta, Edmonton, Canada</em></p>