---
layout: default
---
<div class="row main" id="about">
  <div class="twelve columns top">
  	<ul class="accordion">
      <li class="active">
        <div class="title">
          <h2>Varun Vachhar</h2>
        </div>
        <div class="content">
          {{ content }}
          <p>
            <i class="icon-envelope-alt"></i> <a href="mailto:varun@winkervsbecks.com">varun@winkervsbecks.com</a>
            <br />
            <i class="icon-phone-sign"></i> <a href="tel:1-647-834-3039">+1 (647) 834-3039</a>
            <br />
            <i class="icon-bolt"></i> <a href="http://lkd.to/winkervsbecks" target="_blank">elsewhere on the internet</a>
          </p>
        </div>
      </li>
      <li>
        <div class="title">
          <h2>Resumé</h2>
        </div>
        <div class="content">
          {% include resume.html %}
        </div>
      </li>
    </ul>
  </div>
</div>	